<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teapot</title>
</head>

<body>
<h1>This is Vitek VT-1155!</h1>

<form action="{{ url_for("stop_boil")}}" method="get">
    <button type="submit" style="font-size:20px; height:40px; width:120px">Stop Boil</button>
</form>

{% for item in rows %}
    <h2>Temperature - {{item}}</h2>
{% endfor %}

<h1>Boiled!</h1>

<form action="{{ url_for("home")}}" method="get">
    <button type="submit" style="font-size:20px; height:40px; width:120px">Home</button>
</form>

</body>
</html>